html {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    --var-background-color: #D5E1EF;
    --var-primary-text-color: #1F314F;
    --var-secondary-text-color: #68778D;
    --var-primary-text-weight: 700;
    --var-secondary-text-weight: 400;
}

body {
    background-color: var(--var-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    block-size: 100vb;
    inline-size: 100vi;
}
    
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 31.25rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1.25rem;
}

.qr {
    border-radius: inherit;
}

article {
    margin-block-end: 2.5rem;
    text-align: center;
}

h1 {
    font-weight: var(--var-primary-text-weight);
    color: var(--var-primary-text-color);
    letter-spacing: 0;
    line-height: 1.2;
    font-size: 1.375rem;
    margin-block-end: 1rem;
    margin-block-start: 1.5rem;
}

h2 {
    font-size: 0.9375rem;
    font-weight: var(--var-secondary-text-weight);
    color: var(--var-secondary-text-color);
    letter-spacing: 0.0125rem;
    line-height: 1.4;
}