:root {
    font-size: 16px;
    --font-family: "Outfit", sans-serif;
    --var-background-color: #D5E1EF;
    --var-primary-text-color: #1F314F;
    --var-secondary-text-color: #68778D;
    --var-primary-text-weight: 700;
    --var-secondary-text-weight: 400;
    --var-primary-text-size: 1.375em;
    --var-secondary-text-size: 0.9375em;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    display: inline-flex;
    border-radius: 0.625rem;
    max-width: 100%;
}

body {
    font-family: var(--font-family);
    background-color: var(--var-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
    
.card {
    background-color: white;
    max-width: 20rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1.25rem;
    & > * {
        margin-block-end: 1.5rem;
    }
    
}

.text-padding {
    padding-inline: 1rem;
    margin-block: 1rem;
}

.card-title {
    font-weight: var(--var-primary-text-weight);
    color: var(--var-primary-text-color);
    font-size: var(--var-primary-text-size);
}

.card-text {
    font-weight: var(--var-secondary-text-weight);
    color: var(--var-secondary-text-color);
    font-size: var(--var-secondary-text-size);
    letter-spacing: 0.0125rem;
    line-height: 1.4;
}