* {
    font-family: "Outfit", sans-serif;
    --var-background-color: #D5E1EF;
    --var-primary-text-color: #1F314F;
    --var-secondary-text-color: #68778D;
    --var-primary-text-weight: 700;
    --var-secondary-text-weight: 400;
}

body {
    background-color: var(--var-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    block-size: 100vb;
    inline-size: 100vi;
}
    
.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 500px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 20px;
}

.qr {
    border-radius: inherit;
}

article {
    margin-block-end: 40px;
    text-align: center;
}

h1 {
    font-weight: var(--var-primary-text-weight);
    color: var(--var-primary-text-color);
    letter-spacing: 0px;
    line-height: 1.2;
    font-size: 22px;
    margin-block-end: 16px;
    margin-block-start: 24px;
}

h2 {
    font-weight: var(--var-secondary-text-weight);
    color: var(--var-secondary-text-color);
    letter-spacing: 0.2px;
    line-height: 1.4;
    font-size: 15px;
}